<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>secretmap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2908D6D1FE2BEE200A0E9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2908D831FE2BEE200A0E9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2908D8E1FE2BEE200A0E9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
